.wrapper {
  width: auto;
  position: relative;
  @apply flex;
  @apply mr-0 portrait:mr-2;
  @apply flex-shrink-0;
}

.total {
  @apply ml-2 text-xs;
  @apply text-center flex portrait:hidden items-center justify-center;
  @apply rounded-full;
}

.button-group {
  @apply flex flex-row;
}

.poly-button-group {
  height: auto;
  width: var(--slice-size);
  @apply flex flex-col items-center justify-center;
  @apply mt-4;
  @apply justify-between flex-row;
  @apply translate-x-0;
  @apply space-y-0;
  @apply my-1;

  &:has(.no-portrait) {
    @apply my-0;
  }

  button {
    @apply w-1/2 h-4 flex items-center justify-center;
    @apply text-xxs;
    @apply mr-1;
    @apply cursor-pointer;
    @media (orientation: portrait) {
      @apply w-full mx-auto ml-1.5;
    }
    &.no-portrait {
      @apply portrait:hidden;
    }
  }
}

.toggle {
  @apply bg-neutral-800;
  &:active {
    @apply bg-neutral-600;
  }
  &.muted {
    @apply bg-red-400;
    @apply border-transparent;
    @apply hover:bg-red-500 text-background;
  }
  &.pitch {
    @apply bg-neutral-300 text-background;
  }
  &.active {
    @apply bg-green-400 text-background;
  }
  &.destructive {
    @apply bg-neutral-800 hover:bg-red-400 text-foreground hover:text-background;
  }
}

.mutebutton {
}

.toggle-color {
  background: hsl(
    var(--color-track-h) var(--color-track-s) calc(var(--color-track-l))
  );
  &:hover {
    background: hsl(
      var(--color-track-h) calc(var(--color-track-s) - 40%)
        calc(var(--color-track-l) - 2%)
    ) !important;
  }
}

.length-panel {
  @apply flex flex-col portrait:flex-row-reverse;
  @apply w-12 mt-0 ml-1.5;
  touch-action: none;
  @media (orientation: portrait) {
    width: var(--slice-size);
    @apply -translate-x-0.5;
    @apply mt-0.5;
  }
  button {
    @apply w-full h-1/2 relative flex items-center justify-center;
    @apply my-0.5;
    @apply bg-neutral-800 text-foreground;
    @apply border-background border;

    &:hover {
      @apply bg-foreground text-background;
      @apply opacity-80;
      &:active {
        @apply opacity-100;
      }
    }

    @media (orientation: portrait) {
      @apply w-1/2 p-1;
      @apply flex-grow-0 flex-shrink-0;
      @apply my-1;
    }
  }
}
