@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: rgb(28, 28, 28);
  --color-text: rgb(200, 200, 200);
  --color-foreground: var(--color-text);
  --color-background: var(--color-bg);
  --color-alert: hsl(0, 50%, 50%);
  --border-width: 1px;
  --box-shadow-sm: 0 0 2px rgb(80, 80, 80);
  --box-shadow-lg: 0 0 5px rgb(190, 190, 190);

  --layout-nav-height: 48px;
  --scroll-x-height: 40px;

  --slice-size: 54px;
}

@media (min-width: 600px) {
  :root {
    --slice-size: 64px;
  }
}

@media (min-width: 768px) {
  :root {
    --slice-size: 88px;
  }
}

html {
  width: 100%;
  background: var(--color-bg);
  color: var(--color-text);
  min-height: 100lvh;
  min-height: -webkit-fill-available;
  /* min-height: -webkit-fill-available; */
}

body {
  width: 100%;
  height: 100%;
  min-height: 100lvh;
  min-height: -webkit-fill-available;
  background: var(--color-bg);
  padding-bottom: env(safe-area-inset-bottom);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  @apply font-light;
  letter-spacing: 0.05rem;
  /* get around notch*/
  @apply px-8 lg:px-3 portrait:px-1 portrait:pr-0;
}

h1 {
  font-style: italic;
  transform: skewY(-10deg) skewX(10deg) scaleY(2.5);
  transition: transform 0.1s ease;
  &:hover {
    transform: skewY(0deg) skewX(20deg) scaleY(8);
  }
}
/* i don't remember why i have this in here */
#__next {
  overflow: hidden;
  overflow-x: auto;
}

button {
  @apply select-none cursor-pointer;
  svg {
    @apply select-none pointer-events-none;
  }
}

.edit__area {
  @apply mt-16;
  display: flex;
  flex-direction: column;
  @apply py-4 pb-32;
  @apply min-h-screen;
  @apply portrait:flex-row portrait:mt-10 portrait:md:mt-16;
}
