.button {
  @apply flex items-center justify-center;
  @apply rounded-sm cursor-pointer;
  @apply m-0.5 mx-2 p-0;
  @apply disabled:opacity-20 transition-opacity duration-100;
  width: calc(var(--slice-size));
  height: calc(var(--slice-size));
  &.small {
    width: calc(var(--slice-size) / 2);
    height: calc(var(--slice-size) / 2);
  }
  &.useBorder {
    @apply border border-current;
  }

  &:not(:disabled) {
    &:hover {
      @apply bg-neutral-800;
    }
    &:active {
      @apply bg-neutral-700;
    }
  }

  svg {
    @apply w-6 h-6;
  }
}
